@import "variables.scss";

*{
  font-family: 'Heebo', sans-serif;
  color:inherit;
  a{
    color:inherit;
    &:hover{
      opacity: .9;
    }
  }
  p,
  strong,
  b{
    color:inherit
  }
}
.column{
  width: 100%;
}
.is-rounded50{
  border-radius: 50% !important;
}
.is-rounded15{
  border-radius: 15px !important;
}
.tabs li.is-active a {
  border-bottom-color: color("primero");
  color: color("primero");
}
input[type=radio]{
  vertical-align: middle;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  border:1px solid color("primero");
  &::before {
    opacity: 0;
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    margin: 1px;
    border-radius: 50%;
    border:1px solid #FFF;
    transition: all .1s ease-in;
  }
  &:checked:before {
      background: color("primero");
      opacity: 1;

  }

  &:checked {
    border-color:color("primero");
  }
}
.pagination{
  .pagination-link{
    font-weight: bold;
    &:hover{
      border-color:color("primero");
      background:lighten(color("primero"),5%);
      color:#FFF;
      i{
        color:#FFF;
      }
    }
  }
  .is-current{
    border-color:color("primero");
    background-color:color("primero") !important;
  }
}
.height-100{
  height: 100%;
}
.no-shadow{
  box-shadow: none;
}
.content{
  h1,h2,h3,h4,h5,h6{
    color:color("primero");
  }
  a{
    font-weight: 500;
    text-decoration: underline;
  }
}
.disabled{
  pointer-events: none;
  opacity: .7;
}
section{
  position: relative;
}
.light{
  font-weight: 300;
}
.icon-big{
  font-size: 4em;
}
.select{
  &.select:not(.is-multiple):not(.is-loading)::after{
    border-color: color("primero");
  }
  select{
    border-color: color("primero");
  }
}
.button{
  &.button-1{
    border-width: 2px;
    border-color: color("primero");
  }
  &.button-2{
    background: #B1B1B1;
    color:#FFF;
    font-weight: bold;
    border:none;
    &.active,
    &:hover{
      background:color("primero");
    }
    i{
      vertical-align: middle;
      display: inline-block;
    }
  }
  &.button-fono{
    background:none;
    border:2px solid color("primero");
    font-size: 1.5em;
    i{
      transform:rotate(-50deg),
    }
  }
  &.button-icono{
    background:color("primero");
    color:#FFF;
    i{
      color:#FFF;
      margin-right: .3em;
      vertical-align: center;
    }
  }
  &.cerrar{
    border-color:color("primero");
    border-radius: 50% !important;
    padding:0 10px;
    line-height: 0;
    width: 30px;
    text-align: center;
    i{
      color:color("primero") !important;
    }
  }
}
.delete.ecomas{
  border:1px solid color("primero");
  background-color:transparent !important;
  &:after,&:before{
    background-color:color("primero") !important;
  }
}
.button-descargar{
  font-size: 1.5em;
  line-height: 1.2em;
  border:2px solid color("primero");
  border-radius: 10px;
  padding:.5em 1.2em;
  img{
    width: 60px;
  }
}
.button-grid{
  color:color("gris3");
  i{
    color:color("gris3");
  }
  &.activo{
    color:color("primero");
    i{
      color:color("primero");
    }
  }
}
.btn{
  display: inline-block;
  color:#FFF;
  padding:.5em 1.5em;
  border-radius: 5px;
  border:none;
  background:none;
  &:hover{
    color:#FFF;
    opacity: .9;
  }
  i{
    vertical-align: middle;
    color: inherit;
  }
  &.btn-1{
    border:2px solid #FFF;
    vertical-align: middle;
    &.azul{
      border-color:color("azul");
    }
  }
  &.btn-2{
    background:#FFF;
    color:color("gris");
    border:2px solid color("gris");
    border-radius: 50px;
    vertical-align: middle;
    padding:.5em 2em;
  }

  &.btn-3{
    background:color("azul");
    color:#FFF;
    border:none;
    border-radius: 50px;
    vertical-align: middle;
    padding:.5em 2em;
  }

  &.btn-4{
    background:none;
    color:color("azul-claro");
    border:2px solid color("azul-claro");
    border-radius: 50px;
    vertical-align: middle;
  }

  &.btn-5{
    color:#FFF;
    background:color("azul");
    border:none;
    border-radius: 5px;
    padding:.5em 2em;
  }

}
h1{
  font-weight: 300;
  line-height: 1.2em;
  font-size: 2.3em;
}
h2{
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.3em;
}
h3{
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.5em;
}
h4{
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5em;
}
h5{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2em;
}
body{
  font-size:17px;
  overflow: hidden;
  max-width: 1920px;
  margin:0 auto;
  background:#FFF;
}

.titulo{
  border-radius: 10px;
  padding:.75em;
}



header{
  position: relative;
  margin-top: .8em;
  .top{
    border-radius: 10px;
    font-size: .8em;
    .rrss{
      a{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .whatsapp{
      font-size: 1.1em;
      vertical-align: middle;
      a,i{
        color:color("blanco");
        vertical-align: middle;
        display: inline-block;
      }
      i{
        vertical-align: text-top;
      }
    }
    .buscador{
      form{
        display: flex;
        .input{
          display: block;
          border:none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          padding-left:1em;
          font-weight: bold;
          &::placeholder{
            color:lighten(color("segundo"),50%);
          }
        }
        button{
          display: block;
          background:#FFF;
          border:none;
          cursor:pointer;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          padding:0 .75em;
          display: inline-block;
        }
        .input,button{
          height: 30px;
          line-height: 30px;
        }
      }
    }
    .menu{
      ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li{

          font-size: .9em;
          // padding:1em;
          margin:0 .75em;
          &:last-child{
            margin-right: 0;
          }
          a{
            color:color("blanco");
            font-weight: bold;
          }
        }
      }
    }
    .datos-carro{
      &>.column{
        padding-top: 0;
        padding-bottom: 0;
      }
      .ubicacion{
        font-weight: bold;
      }
      .icono-carro{
        position: relative;
        &.active{
          .contador-carro{
            display: block;
          }
        }
        .contador-carro{
          display: none;
          position: absolute;
          top: -10px;
          right: 0px;
          background:#FFF;
          padding:0;
          font-size: .7em;
          color:color("primero");
          height: 18px;
          width: 18px;
          line-height: 18px;
          font-weight: bold;
          text-align: center;
          border-radius: 50%;
          font-size: .8em;
        }
      }
    }

  }
  .principal{
    padding:1em 0;
    .menu{
      a{
        font-weight: 500;
      }
    }
  }
}

footer{
  background:color("cuarto");
  padding:4em 0;
  nav{
    list-style: none;
    padding:0;
    font-size: .9em;
    a{
      color:#FFF;
      &:hover{
        color:#FFF;
        opacity: .9;
      }
    }
  }
}

.compra-rapida{
  .card{
    border-radius: 15px;
    font-size: .9em;
    .valor{
      font-size:1.3em;
    }
    .button{
      font-size: .9em;

    }
  }
}
.marcas-home{
  .listado-marcas{
    .card{
      height: 100%;
    }
  }
}

.noticia{
  font-size: .9em;
  height: 100%;
  .imagen{
    border-radius: 15px;
    overflow: hidden;
    img{
      display: block;
      height: 223px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
  .content{
    font-size: .9em;
  }
}
.banner-seccion{
  &.noticia{
    h1{
      font-size: 2.2em !important;
      position: relative !important;
      transform: none !important;
      line-height: 1.2em !important;
      left:0 !important;
      padding:0 2em;
    }
    .columns{
      min-height: 300px;
    }
  }
  .imagen{
    position: relative;
    min-height: 300px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    h1{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left: 10%;
      color:#FFF;
      font-size: 4em;
      line-height: .9em;
      letter-spacing: -.07em;
    }
  }
}
.quienes-somos-home{
  .wrapper{
    background-image:
    url(../img/bg-home-quienes-somos.jpg);
    background-size: cover;
    padding:0;
    border-radius: 15px;
  }
  h1{
    font-size: 1.5em;
  }
  .button{
    font-size: .8em;
  }
}


.numeros{
  background:color("primero");
  padding:.75em 0;
  border-radius: 10px;
  .numero{
    padding:0 2em;
  }
  .imagen{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 70px;
    }
  }
  .descripcion{
    font-size: .9em;
  }
}
.bg-blanco-gris{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(234,234,234,1) 15%, rgba(234,234,234,1) 85%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
  padding:0 5%;
}

.bloque-texto-imagen{
  position: relative;
  padding:0 2em;
  .derecha{
    .column{
      order:0;
    }
    .contenedor-imagen{
      order:2;
      .imagen{
        right: auto;
        left: -4em;
      }
    }
    .contenedor-texto{
      .card{
        padding:4em 6em 4em 2em;
        text-align: right;
      }
    }
  }
  .contenedor-imagen{
    position: relative;
    .imagen{
      height: 250px;
      z-index: 10;
      position: absolute;
      border-radius: 10px;
      overflow: hidden;
      right: -4em;
      top: 50%;
      margin-top:-125px;
    }
  }
  .contenedor-texto{
    color:color("segundo");
    &.hero{
      .content{
        color:color("primero");
        font-size: 1.2;
        font-weight: bold;
      }
    }
    .card{
      min-height: 300px;
      height: 100%;
      display: flex;
      align-items: center;
      padding:4em 2em 4em 6em;
      justify-content: center;
      text-align: left;
    }
  }
}

.listado-cards{
  padding:0 2em;
  .card{
    height: 100%;
    padding:2em;
    font-size: .9em;
    &.importante{
      .content *{
        color:color("primero");
        font-size: 1.1em;
        font-weight: bold;
      }
    }
    .numero{
      span{
        display: inline-block;
        background:color("primero");
        border-radius: 50%;
        color:#FFF;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }
    .descargar{
      filter: opacity(.8);
      a{
        text-decoration: none;
      }
      img{
        width: 40px;
      }
    }
    .content{
      height: 100%;
      main{
        display: flex;
        flex-direction: column;
        height: 100%;
        .titulo-card{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

  }
}

.acordeon{
  .item{
    padding:1.5em 2em;
    margin-bottom: 1em;
    transition:all .2s ease-in;
    &.active{
      h4{
        color:color("primero");
        &:after{
          content:"\f068";
        }
      }
      .content{
        height: auto;
        overflow: hidden;
        opacity: 1;
        margin-top: 1em;
        padding: 1em 0 0 1.5em;
      }
    }
    h4{
      padding-right: 1em;
      position: relative;
      cursor:pointer;
      &:after{
        content:"\2b";
        font-family: "Font Awesome 6 Free";
        position: absolute;
        right: 0;
        z-index: 10;
      }
    }
    .content{
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition:all .2s ease-in,padding 0s;
      font-size: .9em;

    }
  }
}

.listado-sucursales{
  .card{
    height: 100%;
    display: flex;
    flex-direction: column;
    .contenido{
      height: 100%;
    }
    .datos-contacto{
      font-size: .85em;
    }
  }
}

.contacto{
  .listado-contacto{
    .card{
      height: 100%;
      padding:2em 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .imagen{
      margin-bottom: .5em;
      img{
        height: 80px;
      }
    }
    .content{
      height: 100%;
      font-size: .9em;
    }
    .telefono{
      margin-right: -15px;
    }
  }
}

.file{
  &.is-danger{
    &:hover{
      .file-name{
        border-color:#f14668;
      }
    }
    .file-cta {
      border-color: #f14668;
      &:hover{
        border-color: #f14668;
      }
    }
  }
}

.productos{
  .filtros{
    .filtro{
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #ececec;
      ul{
        padding-left: .5em;
        li{
          margin-bottom: .3em;
          label input{
            vertical-align: middle;
            margin-right: .2em;
          }
        }
      }
    }
  }

  .opciones{

  }
}
.breadcrumb{
  a{
    color:color("primero")
  }
  .is-active a{
    font-weight: bold;
  }
}

.main-producto{
  height: 100%;
}
.producto{
  padding:1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  .link-categoria{
    margin-bottom: 1em;
  }
  .categoria{
    width: auto;
    border-radius: 99999px;
    padding: .5em 1em .4em 1em ;
    border:2px solid color("primero");
    display:inline-block;
    font-size: .85em;
    line-height: .8em;
    color:color("gris3");
    align-items: center;
    text-transform: capitalize;
    background:#FFF;
  }
  .imagen{
    height: 200px;
    overflow: hidden;
    margin-bottom: .8em;
    text-align: center;
    img{
      object-fit: contain;
      object-position: center;
      height: 200px;
      display: inline-block;
    }
  }
  .nombre{
    color:color("gris3");
    font-size: 1.4em;
  }
  .precio{
    line-height: 1.1em;
    font-weight: bold;
    margin-bottom: .3em;
    flex: 1;
    .oferta{
      color:color("primero");
      font-size: 1.2em;
      display: none;
    }
    .normal{
      color:color("gris3");
      font-size: 1.2em;
    }
    &.en-oferta{
      .oferta{
        display: block;
      }
      .normal{
        font-size: .9em;
        text-decoration:line-through;
      }
    }
  }
  .descripcion{
    flex: 1;
    font-size: .8em;
    margin-bottom: 1.5em;
    color:color("gris3");
    line-height: 1.2em;
  }
  .acciones{

    .cantidad{
      button{
        width: 30px;
      }
      input{
        width: 30px;
        text-align: center;
        padding: 0.5em;
        border-color:color("primero");
      }
    }
  }
  .disponible{
    text-decoration: underline;
    font-size: 1.1em;
    .check{
      font-size: 1.2em;
      border:3px solid color("primero");
      color:color("primero");
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
  }
  &.interior{
    .nombre{
      font-size: 1.8em;
    }
    .precio{
      font-size: 1.5em;
    }
    .descripcion{
      font-size: 1em;
    }
    .imagen{
      width: 100%;
    }
    .categoria{
      font-size:1em;
      min-width: 100px;
      text-align: center;
    }
    .envio-despacho{
      font-size: .7em;
      line-height: 1.2em;
        i{
          font-size: 1.6em;
        }
    }
    .acciones{
      .cantidad{
        flex: none;
        width: unset;
        margin-right: 2em;
        input,button{
          font-size: 1em;
          line-height: 41px;
          width: 41px;
          height: 41px;
        }
        input{
          margin:0 .2em;
        }
      }
      .comprar{
        font-size: 1em;
      }
    }
  }
  &.horizontal{
    display: block;
    padding:1em 0;
    align-items: center;
    .nombre{
      font-size: 1.5em;
    }
    .precio{
      font-size: 1.3em;
    }
    .descripcion{
      font-size: 1em;
    }
    .imagen{
      width: 200px;
    }
    .acciones{
      .button{
        font-size: .9em;
      }
      .cantidad .input{
        margin:0 .3em,
      }
      .cantidad .input,
      .cantidad .button{
        height: 40px;
        width: 40px;
      }
      .cantidad{
        margin-right: .5em;
      }
    }

  }
}

.toplayer{
  background:rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  .toplayer_content{
    max-width: 800px;
    width: 100%;
    position: relative;;
  }
  .acciones-cabecera{
    .button{
      font-size: .8em;
    }
    .delete{
      width: 34px;
      height: 34px;
      max-width: 34px;
      max-height: 34px;
    }
  }
  &.toplayer-producto{
    .botonera{
      .button-icono{
        font-size: .8em;
      }
    }
  }
}

.modal-enter-active,
.modal-leave-active{
  transition: all .25s ease;
}
.modal-enter-from{
  opacity: 0;
  transform: scale(1.1);
}
.modal-leave-to{
  opacity: 0;
}

.slider-productos{
  padding:0 3em;
  position: relative;
  .slick-arrow{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    z-index: 10;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border:2px solid color("primero");
    border-radius: 50%;
    text-align: center;
    &.slick-prev-ecomas{
      left: 0;
    }
    &.slick-next-ecomas{
      right: 0;
    }
  }
  .slick-track{
    height: 100%;
    padding:1em 0;
    display: flex;
    .slick-slide{
      height: auto !important;
      padding:0 .5em;
    }
  }
}
// @import 'media.scss';