.primero {
  color: #80BD01 !important;
}

.bg-primero {
  background-color: #80BD01 !important;
}

.links-primero a {
  color: #80BD01 !important;
}

.segundo {
  color: #1A1519 !important;
}

.bg-segundo {
  background-color: #1A1519 !important;
}

.links-segundo a {
  color: #1A1519 !important;
}

.tercero {
  color: #F7F7F7 !important;
}

.bg-tercero {
  background-color: #F7F7F7 !important;
}

.links-tercero a {
  color: #F7F7F7 !important;
}

.cuarto {
  color: #2D2D2D !important;
}

.bg-cuarto {
  background-color: #2D2D2D !important;
}

.links-cuarto a {
  color: #2D2D2D !important;
}

.verde {
  color: #488500 !important;
}

.bg-verde {
  background-color: #488500 !important;
}

.links-verde a {
  color: #488500 !important;
}

.blanco {
  color: #FFF !important;
}

.bg-blanco {
  background-color: #FFF !important;
}

.links-blanco a {
  color: #FFF !important;
}

.negro {
  color: #000 !important;
}

.bg-negro {
  background-color: #000 !important;
}

.links-negro a {
  color: #000 !important;
}

.gris {
  color: #E5E5E5 !important;
}

.bg-gris {
  background-color: #E5E5E5 !important;
}

.links-gris a {
  color: #E5E5E5 !important;
}

.gris2 {
  color: #c5c5c5 !important;
}

.bg-gris2 {
  background-color: #c5c5c5 !important;
}

.links-gris2 a {
  color: #c5c5c5 !important;
}

.gris3 {
  color: #8E8E8E !important;
}

.bg-gris3 {
  background-color: #8E8E8E !important;
}

.links-gris3 a {
  color: #8E8E8E !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

@keyframes pulso {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    transform-origin: 50% 50%;
    opacity: 0;
  }
}
@keyframes animacionnavegar {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -10px);
  }
  90% {
    transform: translate(0, 0px);
  }
}
@keyframes swipe {
  0%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(40%);
  }
  50% {
    transform: translateX(40%);
  }
  90% {
    transform: translateX(0);
  }
}
.text-nowrap {
  white-space: nowrap;
}

a {
  outline: none;
}

.columns {
  margin: 0;
}
.columns:last-child {
  margin-bottom: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper2 {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

p {
  margin-bottom: 10px;
}

.img-background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slick-disabled {
  opacity: 0.6;
}

.slick-dots {
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin-right: 7px;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li.slick-active button {
  background: #000;
  position: relative;
}
.slick-dots li.slick-active button:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.slick-dots li button {
  cursor: pointer;
  background: #000;
  width: 15px;
  height: 15px;
  border: none;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
}

.slider-flechas {
  padding: 0 50px;
}
.slider-flechas .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.slider-flechas .slick-arrow i {
  font-size: 2em;
}
.slider-flechas .slick-prev {
  left: 0;
}
.slider-flechas .slick-next {
  right: 0;
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Myriad Pro"), url("../fonts/MyriadPro-Light.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Myriad Pro"), url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 500;
  src: local("Myriad Pro"), url("../fonts/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Myriad Pro"), url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 600;
  src: local("Myriad Pro"), url("../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}
@media (max-width: 1000px) {
  .bloque-texto-imagen {
    padding: 0;
  }
  .bloque-texto-imagen .derecha .contenedor-imagen {
    order: 0 !important;
  }
  .bloque-texto-imagen .contenedor-imagen {
    width: 100%;
  }
  .bloque-texto-imagen .contenedor-imagen .imagen {
    left: inherit !important;
    right: inherit !important;
    top: inherit !important;
    margin-top: 0 !important;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .bloque-texto-imagen .contenedor-imagen .imagen img {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
  .bloque-texto-imagen .contenedor-texto {
    width: 100% !important;
  }
  .bloque-texto-imagen .contenedor-texto .card {
    padding: 2em !important;
    text-align: justify !important;
  }
}
@media (max-width: 768px) {
  .pagination.ml-5 {
    margin-left: 0 !important;
  }
  .columns.is-centered-mobile {
    justify-content: center;
  }
  .mx-auto-mobile {
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }
  .wrapper-fullm {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  header {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  header .top {
    border-radius: 0;
    margin-bottom: 0.5em;
  }
  header .comuna,
  header .ingresar,
  header .icono-carro {
    padding: 0;
  }
  header .comuna,
  header .ingresar {
    padding: 0;
    margin-right: 0.7em;
  }
  header .comuna i,
  header .ingresar i {
    margin-right: 0.1em !important;
  }
  header .principal {
    padding: 0 20px;
  }
  header .logo img {
    max-width: 150px;
    display: block;
  }
  header .btn-menu {
    display: block;
  }
  header .menu {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #1A1519;
    min-width: 300px;
    padding: 1em 20px;
    display: none;
  }
  header .menu.active {
    display: block;
  }
  header .menu ul {
    display: block !important;
    width: 100%;
    text-align: right;
  }
  header .menu ul li {
    margin: 0 0 1em 0 !important;
  }
  .producto.interior {
    font-size: 0.9em;
  }
  .producto.interior .caracteristicas {
    font-size: 0.9em;
  }
  .producto.interior .nombre,
  .producto.interior .precio {
    text-align: center;
  }
  .producto.interior .acciones {
    font-size: 1em;
  }
  .producto.interior .acciones > .columns {
    flex-wrap: wrap;
  }
  .producto.interior .acciones .cantidad {
    margin: 0 auto 1em auto;
    text-align: center;
  }
  .producto.interior .acciones .column.is-narrow {
    width: 100%;
  }
  .producto.interior .acciones .button {
    width: 100%;
  }
  .slider-productos {
    padding: 0 1em;
  }
  .button-descargar {
    font-size: 1.3em;
    padding: 0.3em;
  }
  .button-descargar img {
    width: 80px;
  }
  .banner-seccion .imagen h1 {
    font-size: 3em;
  }
  .banner-seccion.noticia h1 {
    font-size: 1.8em !important;
    padding: 0.5em !important;
  }
  .button-fono {
    font-size: 1.1em !important;
  }
  .compra-rapida {
    padding-left: 20px;
  }
  .compra-rapida .productos-compra-rapida > .column {
    padding: 0.4rem;
    padding-bottom: 0.5em !important;
  }
  .compra-rapida .productos-compra-rapida .card {
    font-size: 0.9em;
    width: 135px;
  }
  .sucursales .btn-ver-sucursales {
    font-size: 0.8em;
  }
  .quienes-somos-home .wrapper {
    border-radius: 0 !important;
    overflow: hidden;
    background-size: cover;
  }
  .quienes-somos-home .contenido {
    overflow: hidden;
    padding: 0em 2em 0 2em !important;
  }
  footer {
    font-size: 0.9em;
  }
  .numeros {
    padding: 1.5em 0.5em;
  }
  .numeros .numero {
    padding: 0.5em 0.5em;
  }
  .numeros .imagen {
    height: 70px;
  }
  .numeros .imagen img {
    max-height: 50px;
  }
  .seleccionar-ubicacion {
    transform: translateX(0);
    left: 0;
    right: 0;
    padding: 0 20px;
    max-width: 100%;
  }
  .seleccionar-ubicacion:after {
    left: 75% !important;
  }
  .toplayer-producto .acciones-cabecera {
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem;
  }
  .producto.horizontal .imagen {
    margin: 0 auto;
    max-width: 100%;
  }
  .pagination .pagination-link {
    font-size: 0.9em;
    margin: 0 0.1em;
  }
  .min-h-250 {
    min-height: auto;
  }
  .box-carro .card {
    padding: 1em !important;
  }
  .card-compra-rapida {
    position: relative;
    overflow: hidden;
  }
  .card-compra-rapida .column.imagen {
    position: absolute;
    width: 40% !important;
    z-index: 1;
  }
  .card-compra-rapida .column.contenido {
    position: relative;
    z-index: 10;
  }
  .acordeon .item .content {
    padding: 0 !important;
  }
  .acordeon .item h4 {
    font-size: 1em;
  }
  .interior-compra-rapida .card-compra-rapida h2 {
    font-size: 1.5em;
  }
  .interior-compra-rapida .card-compra-rapida h3 {
    font-size: 1em;
  }
  .pedidos .seguimiento .pasos .column {
    margin-bottom: 2em;
    padding: 0 !important;
  }
  .pedidos .seguimiento .pasos .column:after {
    content: none;
  }
  .productos-compra-rapida .card {
    min-width: 100%;
  }
}
@media (max-width: 625px) {
  .seleccionar-ubicacion:after {
    left: 70% !important;
  }
}
@media (max-width: 470px) {
  .seleccionar-ubicacion:after {
    left: 60% !important;
  }
}
@media (max-width: 360px) {
  .seleccionar-ubicacion:after {
    left: 50% !important;
  }
}