$colors: (
  primero:#5ABE00,
  segundo:#1A1519,
  tercero:#F7F7F7,
  cuarto:#2D2D2D,
  verde:#488500,
  blanco:#FFF,
  negro:#000,
  gris:#E5E5E5,
  gris2:#c5c5c5,
  gris3:#8E8E8E,
);

$size-1: 4rem;

@function color($nombre-color) {
  @return map-get($colors, $nombre-color);
}
@function opacidad($color,$intencidad) {
  @return rgba(red($color),green($color),red($color),$intencidad);
}

@each $color, $value in $colors {
  .#{$color} {
      color: $value !important;
  }
  .bg-#{$color} {
    background-color: $value !important;
  }
}

@keyframes pulso {
  0% {
    transform: scale(1,1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2,1.2);
    transform-origin: 50% 50% ;
    opacity: 0;
  }
}
$url_images: "../img/";


@keyframes animacionnavegar {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -10px);
  }
  90% {
    transform: translate(0, 0px);
  }
}

@keyframes swipe {
  0%,
  100% {
    transform: translateX(0) ;
  }

  40% {
    transform: translateX(40%) ;
  }

  50% {
    transform: translateX(40%) ;
  }

  90% {
    transform: translateX(0) ;
  }

}

.text-nowrap{
  white-space: nowrap;
}
a{
  outline:none;
}

.columns{
  margin:0;
  &:last-child{
    margin-bottom: 0;
  }
}
.wrapper{
  width: 90%;
  // max-width: 1400px;
  margin:0 auto;
}
.wrapper2{
  width: 80%;
  margin:0 auto;
  padding:0 20px;
}
p{
  margin-bottom:10px;
}
.img-background{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.slick-disabled{
  opacity: .6;
}
.slick-dots{
  text-align: center;
  li{
    display: inline-block;
    margin-right: 7px;
    &:last-child{
      margin-right: 0;
    }
    &.slick-active{
      button{
        background:color("negro");
        position: relative;
        &:after{
          content:"";
          width:5px;
          height: 5px;
          border-radius: 50%;
          background-color: #FFF;
          position: absolute;
          top:50%;
          left: 50%;
          transform:translate(-50%,-50%);
          z-index: 5;
        }
      }
    }
    button{
      cursor:pointer;
      background:color("negro");
      width:15px;
      height: 15px;
      border:none;
      font-size: 0;
      line-height: 0;
      border-radius: 50%;
    }
  }
}
.slider-flechas{
  padding:0 50px;
  .slick-arrow{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    z-index: 5;
    i{
      font-size: 2em;
      color:color("gris-2");
    }
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right:0;
  }
}


@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
  }




  @font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Myriad Pro'), url('../fonts/MyriadPro-Light.woff') format('woff');
  }


  @font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Myriad Pro'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
  }


  @font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 500;
  src: local('Myriad Pro'), url('../fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
  }


  @font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Myriad Pro'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
  }


  @font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Myriad Pro'), url('../fonts/MYRIADPRO-BOLDIT.woff') format('woff');
  }
